.back {
    background-image: url('./images/back1.jpg');
    height: 70vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.back::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 0, 0, 0.405);
    z-index: 1;
}

.back h1 {
    font-size: 3rem;
    font-weight: 900;
    color: white;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    font-size: 1.1rem;
    font-weight: 700;
    /* color: black; */
    margin-right: 2rem;
    margin-top: 2.5rem;
}
a:hover{
    background-color: rgba(255, 0, 0, 0.474);
    border-radius: 50%;
}

.fs{
    font-size: 15rem;
    /* color: rgba(255, 0, 0, 0.638); */
}

.par{
    margin-bottom: 0.5rem;
   
}
.services{
    padding-top: 5rem;
    background-color: rgba(0, 0, 0, 0.095);
    padding-bottom: 5rem;
}

.head1{
    font-weight: 900;
    font-size: 3.5rem;
    /* font-style: italic; */
}

.fs1{
    font-size: 10rem;
}

.card2{
    background-color: rgba(236, 15, 15, 0.464);
    width: 20rem;
    border-radius: 20px;
    padding: 1rem;
    box-shadow: 5px 5px 5px black;
    margin: 1rem;
   
}

.card2 h3, p{
    color: white;
}

p{
    color: black;
}


@media screen and (max-width:768px) {
   .nav{
    display: none !important;
   }
   #carouselExampleIndicators{
  /* padding: 2rem; */
  display: none;
   }
   .space{
    padding-top: 2rem;
   }
   .back h1{
    font-size: 2rem;
    
}
}